<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home" routerLinkActive="active">Home</button>
      <button mat-menu-item routerLink="/diary" routerLinkActive="active">Diary</button>
      <button mat-menu-item routerLink="/foods" routerLinkActive="active">Foods</button>
      <button mat-menu-item routerLink="/exercises" routerLinkActive="active">Exercises</button>
    </mat-menu>
    <span>Food Tracker</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>