.table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.add-button {
  margin: 15px 25px 0 15px;
}

.mat-row:nth-child(odd){
  background-color: whitesmoke;
}

.mat-row:hover {
  cursor: pointer;
  background-color: lightgray;
}

.btn-right {
  text-align: right;
}