@mixin nutriscore-label($color: #2c7f43) {
  background-color: $color;
  display: inline-block;
  font-weight: bold;
  color: white;
  padding: 6px 6px;
  border-radius: 10px;
  margin: 0;
}

.green {
  @include nutriscore-label;
}

.lightgreen {
  @include nutriscore-label(#97ba3a);
}

.yellow {
  @include nutriscore-label(#f1cb12);
}

.orange {
  @include nutriscore-label(#d77b1d);
}

.red {
  @include nutriscore-label(#c6341b);
}
