<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav role="navigation">
    <mat-list role="list">
      <mat-nav-list>
        <mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">{{
          menuItems[0] | titlecase
        }}</mat-list-item>
        <mat-list-item routerLink="/foods" routerLinkActive="active" (click)="sidenav.close()">{{
          menuItems[1] | titlecase
        }}</mat-list-item>
        <mat-list-item routerLink="/diary" routerLinkActive="active" (click)="sidenav.close()">{{
          menuItems[2] | titlecase
        }}</mat-list-item>
        <mat-list-item routerLink="/exercises" routerLinkActive="active" (click)="sidenav.close()">{{
          menuItems[3] | titlecase
        }}</mat-list-item>
      </mat-nav-list>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="wrapper">
      <div class="menu-toogler">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div routerLink="/home">
        {{ title | titlecase }}
      </div>
        <ul class="navigation-items wrapper">
          <li>
            <a routerLink="/home" routerLinkActive="active">{{
              menuItems[0] | titlecase
            }}</a>
          </li>
          <li>
            <a routerLink="/foods" routerLinkActive="active">{{
              menuItems[1] | titlecase
            }}</a>
          </li>
          <li>
            <a routerLink="/diary" routerLinkActive="active">{{
              menuItems[2] | titlecase
            }}</a>
          </li>
          <li>
            <a routerLink="/exercises" routerLinkActive="active">{{
              menuItems[3] | titlecase
            }}</a>
          </li>
          <li>
            <a routerLink="/login" routerLinkActive="active">{{
              menuItems[4] | titlecase
            }}</a>
          </li>
        </ul>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>