<header class="header">
  <h1>Diet for day: {{ date?.value | date : "dd/MM/yyyy" }}</h1>
</header>

<mat-divider></mat-divider>

<form [formGroup]="form" class="container">
  <mat-form-field>
    <mat-label>Select a date</mat-label>
    <input
      matInput
      required
      [matDatepicker]="picker"
      formControlName="date"
      [max]="maxDate"
      (dateChange)="onDateChange($event)"
    />
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="form.controls.date.hasError('required')">
      Date <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose food</mat-label>
    <mat-select
      formControlName="foods"
      required
      (selectionChange)="getFoodWeight($event.value)"
    >
      <mat-option>- Clear -</mat-option>
      <mat-option *ngFor="let food of foods$ | async" [value]="food">
        {{ food.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls.foods.hasError('required')">
      Food <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input
      matInput
      required
      type="number"
      formControlName="weight"
      placeholder="Weight"
    />
    <span matSuffix>g</span>
    <mat-error *ngIf="form.controls.weight.hasError('required')">
      Weight <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="form.controls.weight.hasError('min')">
      Value cannot be <strong>less than 0</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose meal type</mat-label>
    <mat-select
      formControlName="mealType"
      required
      (selectionChange)="getMealType($event.value)"
    >
      <mat-option>- Clear -</mat-option>
      <mat-option *ngFor="let type of mealTypes" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls.mealType.hasError('required')">
      Food <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div class="btn">
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
      (click)="addFoodToDiary()"
    >
      Add food <mat-icon class="icon">add_circle_outline</mat-icon>
    </button>
  </div>
</form>
