<div *ngIf="response$ | async as response">
  <ul *ngFor="let item of response.data">
    <li>
      {{ item.id }} {{ item.weight }} {{ item.name }} {{ item.caloriesPer100g }}
      <button mat-raised-button (click)="addFood()">
        Add Food
      </button>
      <button mat-raised-button color="warn" (click)="deleteFood(item.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-raised-button (click)="editFood(item.id)">edit</button>
    </li>
  </ul>
</div>

<div *ngIf="selectedFood$ | async as selectedFood">
  <div>{{ selectedFood.name }}</div>
  <div>{{ selectedFood.weight }}</div>
  <div>{{ selectedFood.caloriesPer100g }}</div>
  <div>{{ selectedFood.nutriScore }}</div>
</div>

<mat-spinner *ngIf="isLoading">Loader</mat-spinner>