table {
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
}

.mat-row:nth-child(odd){
  background-color: whitesmoke;
}

.mat-row:hover {
  cursor: pointer;
  background-color: lightgray;
}

.cdk-footer-row {
  font-weight: bold;
}