.container {
    max-width: 1400px;
    margin: 0 auto;
}

.table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.action-wrapper {
  display: flex;
  flex-direction: row;
}

.add-button {
  margin: 15px 0 0 15px;
}