<ng-container *ngIf="data?.isReadonly; else form">
  <ul class="food-list">
    <li><b>Name:</b> {{ data.food.name }}</li>
    <li><b>Weight:</b> {{ data.food.weight }}g</li>
    <li><b>CaloriesPer100g:</b> {{ data.food.caloriesPer100g }}kcal</li>
    <li *ngIf="data.food.nutriScore">
      <b>NutriScore:</b
      ><app-nutri-score [nutriScore]="data.food.nutriScore"></app-nutri-score>
    </li>
  </ul>
  <div class="button__wrapper">
    <button
      style="align-items: left"
      mat-raised-button
      color="warn"
      (click)="close()"
    >
      Close
    </button>
  </div>
</ng-container>

<ng-template #form>
  <form [formGroup]="addForm">
    <div>
      <mat-form-field
        class="mat-form-field"
        appearance="outline"
        class="form-field"
      >
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          name="name"
          formControlName="name"
          autocomplete="off"
        />
        <mat-error>Name is invalid</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Weight</mat-label>
        <input
          matInput
          type="number"
          name="weight"
          formControlName="weight"
          min="0"
          autocomplete="off"
        />
        <span matSuffix>g</span>
        <mat-error>Weight is invalid</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Calories Per 100g</mat-label>
        <input
          matInput
          type="number"
          name="caloriesPer100g"
          formControlName="caloriesPer100g"
          min="0"
          autocomplete="off"
        />
        <span matSuffix>kcal/100g</span>
      </mat-form-field>
    </div>
    <div>
      <section class="example-section">
        <mat-checkbox
          class="example-margin"
          formControlName="hasNutriScore"
          color="primary"
          >Has nutriScore?</mat-checkbox
        >
      </section>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>NutriScore</mat-label>
        <mat-select formControlName="nutriScore">
          <mat-option value="A">A</mat-option>
          <mat-option value="B">B</mat-option>
          <mat-option value="C">C</mat-option>
          <mat-option value="D">D</mat-option>
          <mat-option value="E">E</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-action [align]="'end'">
      <button
        mat-raised-button
        color="primary"
        [disabled]="addForm.invalid"
        (click)="addFood()"
      >
        Save
      </button>
      <button
        style="margin-left: 12px"
        mat-raised-button
        color="warn"
        (click)="close()"
      >
        Close
      </button>
    </div>
  </form>
</ng-template>
